In [7]:
import pandas as pd

In [19]:
df = pd.read_csv("test.csv")
df.head()

,assigned_cluster,Hotel_Name,confidence_score,Ratings
0,1,Amarante Beau Manoir,0.25,3.0
1,1,Hotel Mademoiselle,0.25,4.3
2,1,Hotel Parc Saint Severin Esprit de France,0.25,1.8
3,1,Le Marceau Bastille,0.25,1.8
4,1,Mercure Grand Hotel Biedermeier Wien,0.25,4.9

In [30]:
def recommend_hotels(df, pref1, pref2, pref3):
    
    preferred_clusters = [pref1, pref2, pref3]
    weights = {preferred_clusters[0]: 0.5, preferred_clusters[1]:0.3, preferred_clusters[2]: 0.2}
    top_hotels = {}
    
    topNhotels = 5
    for cluster in preferred_clusters:
        cluster_df = df[df['assigned_cluster'] == cluster].sort_values('confidence_score', ascending=False)
        top_hotels[cluster] = list(cluster_df['Hotel_Name'][:topNhotels])
    
    print(top_hotels)
        
    recommended_hotels = []
    for i in range(topNhotels):
        for cluster in preferred_clusters:
            if len(top_hotels[cluster]) > i:
                hotel = top_hotels[cluster][i]
                confidence_score = df[df['Hotel_Name'] == hotel]['confidence_score'].values[0]
                hotel_ratings =  df[df['Hotel_Name'] == hotel]['Ratings'].values[0]
                recommended_hotels.append((hotel, confidence_score * weights[cluster],hotel_ratings))
    
    recommended_hotels.sort(key=lambda x: x[1], reverse=True)
    return [hotel for hotel in recommended_hotels[:topNhotels]]

In [31]:
preferred_clusters = [1,2,4]
recommend_hotels(df, 1,2,4)

{1: ['Amarante Beau Manoir', 'Montfleuri', 'Sydney House Chelsea', 'NH London Kensington', 'Hotel Mademoiselle'], 2: ['Novotel Suites Paris Nord 18 me', 'Barcel Milan', 'Best Western Maitrise Hotel Edgware Road', 'Novotel Suites Paris Montreuil Vincennes', 'Radisson Blu Hotel Milan'], 4: ['IH Hotels Milano Lorenteggio', 'Hotel Am Konzerthaus Vienna MGallery by Sofitel', 'Grange Blooms Hotel', 'Courtyard by Marriott Vienna Prater Messe', 'Chambiges Elys es']}

[('Amarante Beau Manoir', 0.125, 3.0),
 ('Montfleuri', 0.125, 3.6),
 ('Sydney House Chelsea', 0.125, 3.0),
 ('NH London Kensington', 0.125, 5.0),
 ('Hotel Mademoiselle', 0.125, 4.3)]

In [29]:
recommend_hotels(df, 3,2,4)

[('Falkensteiner Hotel Wien Margareten', 0.125, 4.0),
 ('Best Western Hotel Montmartre Sacr Coeur', 0.1125, 2.3),
 ('Acca Palace', 0.1, 1.7),
 ('Austria Trend Hotel Anatol Wien', 0.1, 3.1),
 ('Hilton Vienna Plaza', 0.1, 2.3)]

In [13]:
df.to_csv("test.csv",index=False)

In [14]:
aa = pd.read_csv("test.csv")

In [15]:
aa.head()

,assigned_cluster,Hotel_Name,confidence_score,Ratings
0,1,Amarante Beau Manoir,0.25,3.0
1,1,Hotel Mademoiselle,0.25,4.3
2,1,Hotel Parc Saint Severin Esprit de France,0.25,1.8
3,1,Le Marceau Bastille,0.25,1.8
4,1,Mercure Grand Hotel Biedermeier Wien,0.25,4.9

In [ ]:
df.to_csv("test.csv",index=False)

aa = pd.read_csv("test.csv")

aa.head()